.footer {
  // padding: 20px;
  position: relative;
  min-height: 70px;


  &__social_left,
  &__social_right {
    position: fixed;
    bottom: 0;
    width: 40px;
    z-index: 20;

    @media (max-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      padding: 0  5px;
      // background-color: red;
      color: var(--slate);
      font-size: 20px;
      transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: #64ffda;
        transform: translateY(-3px) !important;
      }
    }
  }

  &__social_left {
      a {
          padding: 0 5px !important;
      }

    left: 40px;
    li {
      margin: 0px 0;
      transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
          color: #64ffda;
          transform: translateY(-3px) !important;
        }
    }
  }

  &__social_right {
    right: 40px;
    
    a {
      writing-mode: vertical-rl;
      font-family: var(--font-mono);
      font-size: 16px;
      letter-spacing: 0.1em;
    }
  }

  &__line {
    width: 2px;
    height: 90px;
    margin: 20px auto 0;
    background-color: var(--slate)
  }

  &__mobile_social {
    display: none;
    
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 25px;
      margin-bottom: 15px;

      a {
        color: var(--slate);
        font-size: 20px;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #64ffda;
        }
      }
    }
  }

  &__content {
    padding: 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
 // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #0a192f; // Match your background color
  z-index: 10;
  }

  &__credits {
    color: var(--slate);
    font-family: var(--font-mono);
    font-size: 14px;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #64ffda;
    }

    

    @media (min-width: 769px) {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;

    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    svg {
      margin-right: 5px;
    }
  }
}



