
.button-wrapper {
    display: inline-block;
    padding: 0.5rem 0;


  
    .button-btn {
      display: inline-block;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
      color: var(--green);
      background-color: inherit;
      border: 2px solid var(--green);
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      overflow: hidden; 
      transition: all 0.3s ease; 

      &:hover {
        border-color: rgb(0, 128, 128);
      }
    }
  
  }
  

